html {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  max-width: 1440px;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 950px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 750px) {
  body {
    font-size: 12px;
  }
}

/* @media screen and (max-width: 560px) {
  body {
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 8px;
  }
} */

h1, h2, h3 {
  font-family: Poppins, serif;
}

/* h1 {
   font-size: 2.7em;
} */

header {
   background-color: #EBFBFF;
   background-image: url(../images/bg-hero-desktop.svg);
   /* height: 50vw; */
   margin: 0;
   max-height: 718px;
   width: 100%;
}
@media screen and (max-width: 500px) {
   header {
      background-image: url(../images/bg-hero-mobile.svg);
   }
}

.attribution {
  font-size: .65em;
  text-align: center;
}

.attribution a {
  color: #3E52A3;
  color: hsl(228, 45%, 44%);
}

.body-flex-container {
  border-radius: 1vw;
  box-shadow: 0 0 1vw 0 #EEE;
  display: flex;
  flex-wrap: nowrap;
  margin: 5vw auto;
  padding: 3em 0;
  width: 95%;
}

@media screen and (max-width: 850px) {
  .body-flex-container {
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: center;
  }
}

.body-flex-container:nth-of-type(even) {
  flex-direction: row-reverse;
}

.body-flex-container:nth-of-type(even)>.body-element {
  margin-left: 1em;
  margin-right: 5em;
}

.body-element {
  margin: auto;
  margin-left: 5em;
  margin-right: 1em;
  width: 45%;
  min-width: 320px;
}

.body-element img {
  width: 100%;
}

@media screen and (max-width: 850px) {
  .body-element {
    margin: 0 auto 0;
    text-align: center;
    width: 80%;
  }

  .body-flex-container:nth-of-type(even)>.body-element {
    margin: 0 auto 0;
  }
}

.btn-1 {
   background-color: #F5F5F5;
   border-radius: 10vh;
   box-shadow: 0 0 2vw 0 #CCC;
   font-weight: 700;
   margin-right: 5vw;
   padding: 0.75em 3em;
}

.btn-2 {
   background-color: #FF52BF;
   border-radius: 10vh;
   box-shadow: 0 0 2vw 0 #CCC;
   color: #EBFBFF;
   display: inline-block;
   /* font-weight: 700; */
   margin-right: 5vw;
   padding: 0.75em 3em;
}

.intro-container {
   display: flex;
   justify-content: space-around;
   width: 100%;
}
@media screen and (max-width: 850px) {
   .intro-container {
      flex-wrap: wrap;
   }
}

.intro-box {
   margin-left: 2em;
   width: 36%;
   min-width: 320px;
}
@media screen and (max-width: 850px) {
   .intro-box {
      margin-bottom: 5em;
      text-align: center;
      width: 80%;
   }
}

.intro-illustration {
   margin-right: 2em;
   width: 50%;
   min-width: 320px;
}
@media screen and (max-width: 850px) {
   .intro-illustration {
      width: 80%;
      text-align: center;
   }
}

.intro-illustration > img {
   width: 100%;
}

.logo-img {
  margin: auto 5vw;
  width: 12em;
  max-width: 30vw;
}

.topbar {
   display: flex;
   justify-content: space-between;
   padding: 3em 0;
   /* height: 10em; */
   width: 100%;
}
