html {
  font-size: 18px;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  max-width: 1440px;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 950px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 750px) {
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 560px) {
  body {
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 8px;
  }
}

h1, h2, h3 {
  font-family: Poppins, serif;
}

.attribution {
  font-size: .65em;
  text-align: center;
}

.attribution a {
  color: #3E52A3;
  color: hsl(228, 45%, 44%);
}

.body-flex-container {
  border-radius: 1vw;
  box-shadow: 0 0 1vw 0 #EEE;
  display: flex;
  flex-wrap: nowrap;
  margin: 5vw auto;
  padding: 3em 0;
  width: 90%;
}

@media screen and (max-width: 850px) {
  .body-flex-container {
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: center;
  }
}

.body-flex-container:nth-of-type(even) {
  flex-direction: row-reverse;
}

.body-flex-container:nth-of-type(even)>.body-element {
  margin-left: 1em;
  margin-right: 5em;
}

.body-element {
  margin: auto;
  margin-left: 5em;
  margin-right: 1em;
  width: 45%;
  min-width: 320px;
}

.body-element img {
  width: 100%;
}

@media screen and (max-width: 850px) {
  .body-element {
    margin: 0 auto 0;
    text-align: center;
    width: 80%;
  }

  .body-flex-container:nth-of-type(even)>.body-element {
    margin: 0 auto 0;
  }
}
